---
// Component Imports
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="hej">
  <div class="grid place-items-center h-screen content-center">
    <div data-netlify-identity-menu></div>
    <div data-netlify-identity-button>Login with Netlify Identity</div>
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
    <a
      class="px-5 py-2 outline outline-gray-600 bg-slate-200 rounded-2xl"
      href="/newpage.html"
    >
      hej</a
    >
  </div>
</MainLayout>
