---
import Button from "./Button.astro";
---

<style>
  .banner_title {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
  }

  .banner_card_container:hover .banner_title {
    opacity: 1;
  }
</style>

<div
  class="banner_card_container hover:shadow-lg shadow-sm bg-slate-200 rounded-2xl max-w-[500px] flex flex-col overflow-hidden"
>
  <iframe
    src="https://wmcontent.dk/_HighImpact/Armani_Code/Armani_Code_HI/index.html?id=5"
    frameborder="0"
    class="flex grow-1 h-auto rounded-2xl shadow-lg"
  >
  </iframe>
  <div class="banner_text p-4">
    <h4 class="banner_title font-bold1 text-[22px]">Title</h4>
    <div class="description_and_btn content-end gap-2 grid grid-flow-col">
      <p class="banner_description font-book text-[1rem]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum,
        minus?
      </p>
      <div class="top_and_mid_btn w-fit flex items-end">
        <Button>Top and midscroll</Button>
      </div>
    </div>
  </div>
</div>
