<nav class="header fixed w-full top-0 left-0 flex items-center p-8 z-50">
  <div class="ml-auto flex gap-8">
    <button
      class="appearance-none py-2 px-4 bg-blue-400 text-white font-semibold rounded-full shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:ring-opacity-75"
      data-netlify-identity-button
    >
      <style>
        button {
          transition: all 0.15s ease;
        }

        button:hover {
          transform: translateY(-5px);
        }

        button:active {
          transform: translateY(0);
          transform: scale(0.95);
        }
      </style>
    </button>
    <div class="burger">
      <img src="/images/menu_icon_closed.svg" class="" alt="" />
    </div>
  </div>
</nav>
